<script>
       initFancyBox();
</script>
<carousel interval="10000">
    <slide ng-repeat="slide in slides" active="slide.active" style="max-height:600px; overflow:hidden;">
        <img ng-src="{{slide.image}}" alt="">

    </slide>

</carousel>
<div class="container" href="anchor" ng-controller="ModalDemoCtrl">
	<div class=" container-pad20" ng-repeat="groupname in belenco">

	<h2 style="padding-bottom:20px;">{{groupname.group}}</h2>
	<div class="container-pad20">	
		<h4>{{groupname.info}}</h4>
	</div>	
	<div class="row">
		<div class="silestone-item col-lg-2 col-md-2 col-sm-2 col-xs-12" ng-repeat="item in groupname.photos">
			<div class="silestone-img" ng-click="belencoOpen(item, groupname.group)">
				<a href="" class="" rel="" >
					<img ng-src="{{item.prev}}" alt="">
				</a>
			</div>
		</div>
		<h4 class="text-center" style="padding-top:10px; color:#000;">{{item.name}}</h4>
	</div>
		
	</div>
</div>