
<script>
       initFancyBox();
</script>
<carousel interval="10000">
    <slide ng-repeat="slide in slides" active="slide.active" style="max-height:600px; overflow:hidden;">
        <img ng-src="{{slide.image}}" alt="">

    </slide>

</carousel>
<div class="row">
        <div class="row text-center container-pad20 "><h1><span>Residental</span> Gallery</h1></div>
    <div class="container">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="margin:10px 0; " ng-repeat="item in residental | limitTo: residentalLimit">
           <a href="{{item.href}}" rel="commercial"class="fancybox"><div width="100%" download-img="{{item.image}}"></div></a>
        </div>
    </div>
            <div class="container-pad50 text-center">
                <button type="button" ng-click="residentalLimit = residentalLimit + 16;" ng-hide="residentalLimit>=residental.length;" class="btn btn-default" aria-label="Left Align"><span>Load More</span></button>
            </div>    
</div>