@charset "iso-8859-1";
/* CSS Document */

html {
	color:#FFF;
	font-family:Arial, Geneva, sans-serif;
	font-size:14px;
	
	
} 
p, table	{
	font-size:14px;
}
html p, html img, html embed {
	margin-top:0;
	padding-top:0;
	
}
img {
	border:0px;
}
a:link {
	color: #fff;
	text-decoration:none;
}
a:visited {
	color: #fff;
	text-decoration:none;
}
a:hover {
	color: #00cbbf;
	text-decoration:none;
}
a:active {
	color: #fff;
	text-decoration:none;
}
#popupmenu, #popupmenu2 {
	background-color:#000;
	margin-top:8px;
	margin-left:-1px;
	position:absolute;
	
}
 
#menu {
	width:225px;
	margin:0px; 
	padding:0px;
}
#menu2 {
	width:225px;
	margin:0px;
	padding:0px;
}
